{% extends "hrcentre/base.html" %}
{% load i18n %}
{% load hrcentretags %}

{% block hrcentre_page_header %}<h1 class="page-header text-center">{{ group_name }}</h1>{% endblock hrcentre_page_header %}


{% block extra_css %}
    {% include "bundles/datatables-css-bs5.html" %}
{% endblock extra_css %}

{% block hrcentre_content %}
    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-aa">
                            <thead>
                                <tr>
                                    <th scope="col">{% translate "Main" %}</th>
                                    <th scope="col">{% translate "Number of alts" %}</th>
                                    <th scope="col">{% translate "Characters" %}</th>
                                    <th scope="col">{% translate "Last Login (ET)" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for main in mains %}
                                    <tr>
                                        <td>
                                            <img src="{{ main.character.portrait_url_32 }}" class="rounded me-2">
                                            <span>{{ main.character.character_name }}</span>
                                            <a class="btn text-info" href="{% url "corptools:reactmain" main.character.character_id %}">
                                                <i class="fa-solid fa-up-right-from-square"></i>
                                            </a>
                                        </td>
                                        <td>{{ main.number_of_chars }}</td>
                                        <td>
                                            {% for char in main.character.character_ownership.user.chars %}
                                                <span class="badge {% if char.character|ct_is_active %}text-bg-primary{% else %}text-bg-danger{% endif %}" data-bs-toggle="tooltip" data-bs-title="Last login (ET): {{ char.last_login|date:"Y/m/d H:i" }}">{{ char.character.character_name }}</span>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <span class="badge {% if main.is_updating %}text-bg-primary{% else %}text-bg-danger{% endif %}" data-bs-toggle="tooltip" data-bs-title="Older update between all chars: {% if main.older_last_update %}{{ main.older_last_update|date:"Y/m/d H:i" }}{% else %}Never{% endif %}">{{ main.last_login|date:"Y/m/d H:i" }}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock hrcentre_content %}

{% block extra_javascript %}
    {% include "bundles/datatables-js-bs5.html" %}
{% endblock extra_javascript %}

{% block extra_script %}
    $(document).ready(function() {
        $('[data-bs-toggle="tooltip"]').tooltip();
        $('.table-aa').DataTable();
    });
{% endblock extra_script %}